.card-container {
    width: 15rem;
    margin: 1rem;
    border: none;
    color: #215E82;
}
.card-container:hover {
    box-shadow: 0 0 10px 5px #FFC94C;
}

.evening {
    background-color: #215E82;
    color: white;
}

.morning {
    background-color: #F2F2F2;
    color: #215E82;
}