* {
  overflow: auto;
}
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  color: #FFC94C;
  border: 1px solid #FFC94C;
  border-radius: 5px;
  padding: 0.5em 1em;
}
button:hover {
  background-color: #FFC94C;
  color: #215E82;
}
.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  background-color: #215E82;
  border: none;
  border-radius: 10px;
  margin: 1rem;
  padding: 1.5rem;
  overflow: auto;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: #215E82;
  padding: 20px;
  width: fit-content;
}
.studentButton {
  background-color: white;
  color: #215E82;
  padding: 5px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(9, 10, 26, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 10; /* on top of everything */
}
.close {
  cursor: pointer;
}
.italicThin {
  font-style: italic;
  font-weight: 100;
}








