#routeDisplay {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 20px;
  border: solid #215E82;
  border-radius: 10px;
  padding: 20px;
  color: #215E82;
}
#routeInfoDisplay {
  color: #215E82;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
h3 {
  font-weight: 700;
}
.stopButton {
  background-color: transparent;
  color: #215E82;
  padding-right: 1rem;
  margin-left: 0.5rem;
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  transition: background-color 0.3s ease;
}
.stopButton:hover {
  background-color: #215E82; /* Background color on hover */
  color: white;
}
#stopStudentsList {
  margin-top: 20px;
  margin-bottom: 0;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}
.studentButton {
  background-color: transparent;
  color: white;
  padding: 0.5rem;
}
.studentButton:hover {
  background-color: white; /* Background color on hover */
  color: #215E82;
}
.studentIcon {
  margin-right: 0.5rem;
}
